<div ng-controller="EventsController as ctrl">

    <!--<div ng-class="{'play' : ctrl.animated, 'play-reverse': ctrl.reverseAnimated,
    'animation-target' : ctrl.bigDiv, 'eventList-mid' : !ctrl.bigDiv}"
         ng-click="ctrl.animate()">
        <button ng-click="ctrl.reverseAnimation();$event.stopPropagation()">close2</button>
    </div>-->
    <!--<div ng-class="{'play' : ctrl.animated, 'play-reverse': ctrl.reverseAnimated, 'animation-target' : ctrl.bigDiv, 'eventlist' : !ctrl.bigDiv}" ng-click="ctrl.animate()"></div>-->


    <div class="events" style="margin-top: 5vh">
        <div class="modal-frame" ng-class="{'state-appear' : ctrl.isModalOpen}">
            <div class="modal" style="overflow: auto">
                <div class="modal-inset" style="overflow: auto">
                    <div class="button close" ng-click="ctrl.toggleModal()"><i class="fa fa-close" style="color: black"></i></div>

                    <div class="modal-body" style="overflow: auto">
                        <h1>{{ctrl.cmnname}}</h1>
                        <div class="heading">Description</div>
                        <p>{{ctrl.cmndescription}}</p>
                        <div class="heading">Date & Time</div>
                        <p>{{ctrl.cmndate}} <span style="color:black">at</span> {{ctrl.cmntime}}</p>
                        <div class="heading">Venue</div>
                        <p>{{ctrl.cmnvenue}}</p>
                        <div class="heading">Rules</div>
                        <ol>
                        <div ng-repeat="value in ctrl.cmnrules">
                        <li>{{value}}</li>
                        </div>
                        </ol>             
                        <div class="heading">Contact</div>
                        <ol style="list-style-type: upper-roman;">
                        <div ng-repeat="value in ctrl.cmncontact">
                        <li>{{value}}</li>
                        </div>
                        </ol>  
                        <div class="heading">FAQ</div>
                        <ol >
                        <div ng-repeat="value in ctrl.cmnfaq">
                        <li><strong>{{value.question}}</strong></li>
                            <p style="padding-left: 50px">{{value.answer}}</p>
                        </div>
                        </ol>                                     
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-overlay" ng-class="{'state-show': ctrl.isModalOpen}"></div>

        <div class="row">
            <div ng-repeat="event in ctrl.eventList">
                    <div class="events-div">
                        <button class="fancy-btn open"  ng-click="ctrl.toggleModalEvent(event.index)">View</button>
                    </div>
            </div>
        </div>

    </div>
</div>